/*Textaufbau*/
header {
    font-family: Bahnschrift;
    font-size: 18px;
}

body {
    font-family: Bahnschrift;
    font-size: 18px;
}

p {
    font-family: Bahnschrift;
    color: black;
    /*text-align:center; AUSKOMMENTIERT UND BEI KLASSE '.centertext' eingefügt */
}
/*Ueberschriften*/
h1 {
    font-family: Bahnschrift;
    font-size: 30px;
    margin-left: 5px;
    margin-top: 10px;
    margin: 10px 0 0 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding: 10px;
    color: yellowgreen
}

h2 {
    font-size: 28px;
    color: yellowgreen;
}

h3 {
    font-size: 20px;
    color: lightcoral
}

h4 {
    font-size: 26px;
    margin-left: 5px;
    margin-top: 10px;
    margin: 10px 0 0 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding: 10px;
    color: red
}

/*Assets*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: horizontal;
}

input {
    font-family: Bahnschrift;
    font-size: 11px;
    Font-style: italic;
}

form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    white-space: nowrap;
}

/*Klassen*/
.border {
    width: 100%;
    height: 100%;
    margin: 0; /* Space from this element (entire page) and others*/
    padding: 0; /*space from content and border*/
    border: solid yellowgreen;
    border-style: double;
    border-width: thin;
    overflow: hidden;
    display: block;
}
/*von Max*/
.AnmeldeMenü {
    font-size: 25px;
    border-collapse: collapse;
    border-spacing: 10px;
    width: 350px;
    padding: 30px;
    border: solid rgb(119, 161, 34);
    margin: auto;
}

.AnmeldeMenüInhalt {
    font-size: 25px;
    border-collapse: collapse;
    border-spacing: 10px;
    width: 350px;
    padding: 30px;
    margin: auto;
}
/*Von Max Ende*/

.centerblock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centertext {
    text-align: center;
}

/*Diese Klasse wurde von Max eingefügt*/
.centerdiv {
    margin: auto;
    margin-top: 7%;
    width: 70%;
    border: 5px solid yellowgreen;
    padding: 100px;
}

.sekundaer {
    font-size: smaller;
}

/*ID's von Max */
#footerlinks {
    width: 300px;
}

    #footerlinks li {
        width: 100px;
        display: inline-block;
    }
